<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [3]:
import pandas as pd

In [7]:
rides = pd.read_csv(r'Z:\common\Projects\20220201_Грузовики\поездки по трекам\truck_rides_2022_04_11_17_week.csv', index_col=0)               
rides.head(10)

,tt,plate,vehicleId,geometry,ride_num,reg_seq,transit,distance_km,typeTS,massa_dop,АЗС,Склад,Парковка,stop_class
0,2022-04-17 21:37:37+03:00,Y015PX799,141662,POINT (37.521782 55.552074),1,Область,False,0.0,Бортовой,8700,NaN,Склад,NaN,Склад
1,2022-04-17 23:37:39+03:00,Y015PX799,141662,POINT (37.521782 55.552074),2,Область,False,0.0,Бортовой,8700,NaN,Склад,NaN,Склад
2,2022-04-14 23:27:09+03:00,Y015PX799,141662,POINT (37.522327 55.55229),3,Область,False,0.0,Бортовой,8700,NaN,Склад,NaN,Склад
3,2022-04-17 00:52:31+03:00,H267AY77,239328,POINT (37.92047 55.67573),1,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад
4,2022-04-17 02:47:31+03:00,H267AY77,239328,POINT (37.92047 55.67573),2,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад
5,2022-04-17 04:40:01+03:00,H267AY77,239328,POINT (37.92047 55.67573),3,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад
6,2022-04-17 07:07:32+03:00,H267AY77,239328,POINT (37.92047 55.67573),4,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад
7,2022-04-17 10:02:32+03:00,H267AY77,239328,POINT (37.92047 55.67573),5,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад
8,2022-04-17 10:40:02+03:00,H267AY77,239328,POINT (37.92047 55.67573),6,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад
9,2022-04-17 11:42:33+03:00,H267AY77,239328,POINT (37.92047 55.67573),7,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад

In [10]:
rides['tt'] = rides['tt'].apply(lambda x: x.replace("+03:00", ""))
rides['tt'] = pd.to_datetime(rides['tt'], format="%Y-%m-%d %H:%M:%S")
rides.head()

,tt,plate,vehicleId,geometry,ride_num,reg_seq,transit,distance_km,typeTS,massa_dop,АЗС,Склад,Парковка,stop_class
0,2022-04-17 21:37:37,Y015PX799,141662,POINT (37.521782 55.552074),1,Область,False,0.0,Бортовой,8700,NaN,Склад,NaN,Склад
1,2022-04-17 23:37:39,Y015PX799,141662,POINT (37.521782 55.552074),2,Область,False,0.0,Бортовой,8700,NaN,Склад,NaN,Склад
2,2022-04-14 23:27:09,Y015PX799,141662,POINT (37.522327 55.55229),3,Область,False,0.0,Бортовой,8700,NaN,Склад,NaN,Склад
3,2022-04-17 00:52:31,H267AY77,239328,POINT (37.92047 55.67573),1,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад
4,2022-04-17 02:47:31,H267AY77,239328,POINT (37.92047 55.67573),2,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад

In [13]:
rides['day'] = rides['tt'].dt.day
rides.head()

,tt,plate,vehicleId,geometry,ride_num,reg_seq,transit,distance_km,typeTS,massa_dop,АЗС,Склад,Парковка,stop_class,day
0,2022-04-17 21:37:37,Y015PX799,141662,POINT (37.521782 55.552074),1,Область,False,0.0,Бортовой,8700,NaN,Склад,NaN,Склад,17
1,2022-04-17 23:37:39,Y015PX799,141662,POINT (37.521782 55.552074),2,Область,False,0.0,Бортовой,8700,NaN,Склад,NaN,Склад,17
2,2022-04-14 23:27:09,Y015PX799,141662,POINT (37.522327 55.55229),3,Область,False,0.0,Бортовой,8700,NaN,Склад,NaN,Склад,14
3,2022-04-17 00:52:31,H267AY77,239328,POINT (37.92047 55.67573),1,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад,17
4,2022-04-17 02:47:31,H267AY77,239328,POINT (37.92047 55.67573),2,Область,False,0.0,Грузовой фургон,7500,NaN,Склад,NaN,Склад,17

In [18]:
rides_workday = rides[rides['day']<16]
rides_workday.head()

,tt,plate,vehicleId,geometry,ride_num,reg_seq,transit,distance_km,typeTS,massa_dop,АЗС,Склад,Парковка,stop_class,day
2,2022-04-14 23:27:09,Y015PX799,141662,POINT (37.522327 55.55229),3,Область,False,0.0,Бортовой,8700,NaN,Склад,NaN,Склад,14
74,2022-04-15 23:52:35,E906OP799,145135,POINT (37.59532 55.69372),4,Москва,False,0.0,Грузовой самосвал,25200,NaN,Склад,NaN,Склад,15
156,2022-04-15 15:38:11,K719PP750,46371,POINT (37.50163 55.66836),5,"Москва, Область",False,60.8,Грузовой тягач седельный,19000,NaN,NaN,NaN,Н/Д,15
157,2022-04-15 18:45:29,K719PP750,46371,POINT (37.87673 55.9992),6,Область,False,122.1,Грузовой тягач седельный,19000,NaN,Склад,NaN,Склад,15
158,2022-04-15 23:57:44,K719PP750,46371,POINT (37.88549 55.963234),7,"Область, Москва, Область",True,339.5,Грузовой тягач седельный,19000,NaN,Склад,NaN,Склад,15