In [16]:
#Импорт библиотек
import pandas as pd
import geopandas as gpd
import shapely
from shapely import wkt, geometry
from shapely.geometry import Polygon, LineString, mapping, MultiPoint, Point
shapely.speedups.disable()
import pathlib

from tqdm.notebook import tqdm as tqdm
from pyproj import CRS

import os
os.environ['PROJ_LIB']=r"C:\Users\ovnanyan_gm\AppData\Local\anaconda3\Library\share"

login = 'G.Ovnanyan'
password = 'W@o5S8FL'
import time

from sqlalchemy import create_engine
engine = create_engine('postgresql://{login}:{password}@airms.mgtniip.ru:5432/UARMS'.format(
    login = login, password=password))

In [17]:
import sys
sys.path.insert(0, '../') 
from btb_matrix.domain import FullBtBways
from btb_matrix.config import engine

In [18]:
_fullbtb = FullBtBways('2021-09-06', 144, start_time = '7:30')

..\data\processed\2021-09-06\0730_0829_scenario_144\costs\oneride_costs.bcolz loaded from cache.

In [19]:
data0 = _fullbtb.get_trip_flows()

data0 = data0.loc[data0['cnt_inside'] > 0]

# Добавляев название о.п.
stops = pd.read_sql('select stop_id, stop_name from routes.stops()', con=engine)
stops = stops.set_index('stop_id')
data0 = data0.join(stops, on='stop_id_start')
data0 = data0.join(stops, on='stop_id_end', lsuffix='_start', rsuffix='_end')
del stops

# Добавляем уровень загрузки
data0['rel_inside'] = data0['cnt_inside'] / data0['capacity']

data0.head(3)

..\data\processed\2021-09-06\0730_0829_scenario_144\flows\trip_flows.bcolz loaded from cache.

,route_id,route_name,variant_id,variant_name,trip_id,mvn,segment_seq,stop_id_start,stop_id_end,site_id_start,site_id_end,num_of_trips,capacity,cnt_on,cnt_inside,cnt_off,stop_name_start,stop_name_end,rel_inside
4,100,А_4,204328,4-00-А,23619,4-00-А-прямое,5,1663,1664,1511,1512,1.5,120.0,1.232524,1.232524,0.000000,Причальный пр.,Романовская школа,0.010271
5,100,А_4,204328,4-00-А,23619,4-00-А-прямое,6,1664,1665,1512,1513,1.5,120.0,0.000000,1.232524,0.000000,Романовская школа,Шелепихинская наб.,0.010271
6,100,А_4,204328,4-00-А,23619,4-00-А-прямое,7,1665,8216,1513,1514,1.5,120.0,1.625032,2.857556,0.231098,Шелепихинская наб.,Шелепихинский мост,0.023813

In [20]:
date = str(20210906)

In [74]:
# остановки
stops = pd.read_sql("""
select stop_id, mode_id, st_x(geometry) as x, st_y(geometry) as y
from routes.stops('"""+date+"""')
order by stop_id
""", con=engine)

geom = []
for i in range(len(stops)):
    geom.append(Point(stops.iloc[i]['x'],stops.iloc[i]['y']))
stops = gpd.GeoDataFrame(stops[['stop_id', 'mode_id']], geometry = geom)
# stops = stops.set_crs(crs=4326).to_crs(crs=3857)
stops.head()

   stop_id  mode_id                   geometry
0        7        0  POINT (37.65516 55.72567)
1       11        0  POINT (37.57241 55.74944)
2       12        0  POINT (37.57272 55.74976)
3       27        0  POINT (37.37551 55.75726)
4       33        0  POINT (37.60342 55.79288)

In [72]:
data = data0.copy()
data = data.groupby(['stop_id_start','stop_id_end'])['cnt_inside'].sum().reset_index()
data = data.rename(columns={'cnt_inside':'link_volume', 'stop_id_start' : 'start_stop_id', 'stop_id_end' : 'end_stop_id'})
data['start_stop_id'] = data['start_stop_id'].astype(int)
data['end_stop_id'] = data['end_stop_id'].astype(int)

stops_lists = []
for i in tqdm(range(len(data))):
    start_stop_id = data['start_stop_id'][i]
    end_stop_id = data['end_stop_id'][i]
    stops_list = [start_stop_id, end_stop_id]
    stops_list.sort()
    stops_list = str(stops_list[0])+','+str(stops_list[1])
    stops_lists.append(stops_list)
data['stops'] = stops_lists
data.head(3)

  0%|          | 0/17476 [00:00<?, ?it/s]

   start_stop_id  end_stop_id  link_volume       stops
0              7         7424   164.137190      7,7424
1             11      1008549    12.630520  11,1008549
2             12         6615     1.001426     12,6615

In [75]:
###---НГПТ---
data_ngpt = data.copy()
data_ngpt = data_ngpt[data_ngpt['start_stop_id'] < 9000000]
data_ngpt = data_ngpt[data_ngpt['end_stop_id'] < 9000000]
data_ngpt = data.groupby(['stops'])['link_volume'].sum().reset_index()
data_ngpt[['start_stop_id','end_stop_id']] = data_ngpt['stops'].str.split(',', 1, expand=True)
data_ngpt['start_stop_id'] = data_ngpt['start_stop_id'].astype(int)
data_ngpt['end_stop_id'] = data_ngpt['end_stop_id'].astype(int)
data_ngpt = data_ngpt[data_ngpt['link_volume']!=0].reset_index(drop=True)

###---делаем линии между точками---
lines = []
for i in tqdm(range(len(data_ngpt))):
    start_stop_id = data_ngpt['start_stop_id'][i]
    end_stop_id = data_ngpt['end_stop_id'][i]
    start_stop_id_geometry = stops[stops['stop_id']==start_stop_id].iloc[0]['geometry']
    end_stop_id_geometry = stops[stops['stop_id']==end_stop_id].iloc[0]['geometry']
    line = LineString([start_stop_id_geometry, end_stop_id_geometry])
    lines.append(line)
peregons = gpd.GeoDataFrame(data_ngpt, geometry = lines)
peregons = peregons.set_crs(crs=4326).to_crs(crs=3857)

%time peregons.to_file(r'C:\Users\ovnanyan_gm\btb_matrix\notebooks\data\Загрузка между ОП\144_final_НГПТ.shp', encoding='utf-8')

  0%|          | 0/16809 [00:00<?, ?it/s]

IndexError: single positional indexer is out-of-bounds

In [66]:
###---СВТ---
data_svt = data.copy()
data_svt = data_svt[data_svt['start_stop_id'] > 9000000]
data_svt = data_svt[data_svt['end_stop_id'] > 9000000]
data_svt = data_svt.groupby(['stops'])['link_volume'].sum().reset_index()
data_svt[['start_stop_id','end_stop_id']] = data_svt['stops'].str.split(',', 1, expand=True)
data_svt['start_stop_id'] = data_svt['start_stop_id'].astype(int)
data_svt['end_stop_id'] = data_svt['end_stop_id'].astype(int)
data_svt = data_svt[data_svt['link_volume']!=0].reset_index(drop=True)

###---делаем линии между точками---
lines = []
for i in tqdm(range(len(data_svt))):
    start_stop_id = data_svt['start_stop_id'][i]
    end_stop_id = data_svt['end_stop_id'][i]
    start_stop_id_geometry = stops[stops['stop_id']==start_stop_id].iloc[0]['geometry']
    end_stop_id_geometry = stops[stops['stop_id']==end_stop_id].iloc[0]['geometry']
    line = LineString([start_stop_id_geometry, end_stop_id_geometry])
    lines.append(line)
peregons = gpd.GeoDataFrame(data_svt, geometry = lines)
peregons = peregons.set_crs(crs=4326).to_crs(crs=3857)

%time peregons.to_file(r'C:\Users\ovnanyan_gm\btb_matrix\notebooks\data\Загрузка между ОП\144_final_СВТ.shp', encoding='utf-8')

  0%|          | 0/776 [00:00<?, ?it/s]

Wall time: 134 ms

In [69]:
end_stop_id

1009965