<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
#Библиотеки Для работы с БД
import sqlalchemy
from sqlalchemy import create_engine
import geopandas as gpd
import pandas as pd
import numpy as np
from pyproj import CRS
from geopandas import GeoDataFrame

#Вход в базу
login = 'G.Ovnanyan'
password = 'W@o5S8FL'
import time
from sqlalchemy import create_engine
engine = create_engine('postgresql://{login}:{password}@airms.mgtniip.ru:5432/UARMS'.format(
    login = login, password=password))

# btb
import sys
sys.path.insert(0, '../') 
from btb_matrix.domain import FullBtBways
from btb_matrix.config import engine

In [2]:
_fullbtb_1 = FullBtBways('2022-04-06', 1, start_time = '7:30')
_fullbtb_2 = FullBtBways('2022-04-06', 192, start_time = '7:30')

C:\Users\ovnanyan_gm\AppData\Local\anaconda3\lib\site-packages\bcolz\ctable.py:806: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  df = pd.DataFrame.from_items(

..\data\processed\2022-04-06\0730_0829_scenario_1\costs\oneride_costs.bcolz loaded from cache.
..\data\processed\2022-04-06\0730_0829_scenario_192\costs\oneride_costs.bcolz loaded from cache.

In [3]:
matrix_current_1 = _fullbtb_1.get_trip_flows()

# Добавляев название о.п.
stops = pd.read_sql('select stop_id, stop_name from routes.stops()', con=engine)
stops = stops.set_index('stop_id')
matrix_current_1 = matrix_current_1.join(stops, on='stop_id_start')
matrix_current_1 = matrix_current_1.join(stops, on='stop_id_end', lsuffix='_start', rsuffix='_end')
del stops

# Добавляем уровень загрузки
matrix_current_1['rel_inside'] = matrix_current_1['cnt_inside'] / matrix_current_1['capacity']

matrix_current_1 = matrix_current_1[matrix_current_1['stop_id_start'] < 9000000]
matrix_current_1 = matrix_current_1[matrix_current_1['stop_id_end'] < 9000000]
    
matrix_current_1.head(3)

..\data\processed\2022-04-06\0730_0829_scenario_1\flows\trip_flows.bcolz loaded from cache.

,route_id,route_name,variant_id,variant_name,trip_id,mvn,segment_seq,stop_id_start,length,stop_id_end,site_id_start,site_id_end,num_of_trips,capacity,cnt_on,cnt_inside,cnt_off,stop_name_start,stop_name_end,rel_inside
0,103,А_127,204520,127-У1-А,64216,127-У1-А-прямое,1,10318,0.112635,5019,21,21,2.0,220.0,0.000000,0.000000,0.000000,Рублево,Рублево,0.000000
1,103,А_127,204520,127-У1-А,64216,127-У1-А-прямое,2,5019,0.741055,5020,21,22,2.0,220.0,21.965990,21.965990,0.231854,Рублево,Советская ул.,0.099845
2,103,А_127,204520,127-У1-А,64216,127-У1-А-прямое,3,5020,0.607082,8749,22,23,2.0,220.0,7.751212,29.485348,0.231854,Советская ул.,Поворот на Рублево,0.134024

In [4]:
matrix_current_2 = _fullbtb_2.get_trip_flows()

# Добавляев название о.п.
stops = pd.read_sql('select stop_id, stop_name from routes.stops()', con=engine)
stops = stops.set_index('stop_id')
matrix_current_2 = matrix_current_2.join(stops, on='stop_id_start')
matrix_current_2 = matrix_current_2.join(stops, on='stop_id_end', lsuffix='_start', rsuffix='_end')
del stops

# Добавляем уровень загрузки
matrix_current_2['rel_inside'] = matrix_current_2['cnt_inside'] / matrix_current_2['capacity']

matrix_current_2 = matrix_current_2[matrix_current_2['stop_id_start'] < 9000000]
matrix_current_2 = matrix_current_2[matrix_current_2['stop_id_end'] < 9000000]

matrix_current_2.head(3)

..\data\processed\2022-04-06\0730_0829_scenario_192\flows\trip_flows.bcolz loaded from cache.

,route_id,route_name,variant_id,variant_name,trip_id,mvn,segment_seq,stop_id_start,length,stop_id_end,site_id_start,site_id_end,num_of_trips,capacity,cnt_on,cnt_inside,cnt_off,stop_name_start,stop_name_end,rel_inside
0,103,А_127,204520,127-У1-А,64216,127-У1-А-прямое,1,10318,0.112635,5019,21,21,2.0,220.0,0.000000,0.000000,0.000000,Рублево,Рублево,0.000000
1,103,А_127,204520,127-У1-А,64216,127-У1-А-прямое,2,5019,0.741055,5020,21,22,2.0,220.0,21.965990,21.965990,0.231854,Рублево,Советская ул.,0.099845
2,103,А_127,204520,127-У1-А,64216,127-У1-А-прямое,3,5020,0.607082,8749,22,23,2.0,220.0,7.751212,29.485348,0.231854,Советская ул.,Поворот на Рублево,0.134024

In [5]:
# Выгрузка таблицы trip_segments
query = """
select stop_id, stop_id_next, geometry from routes.trip_segments(current_date, 1) """
trip_segments = gpd.read_postgis(query, con=engine, geom_col='geometry', crs={'init':'epsg:4326'})
trip_segments.head(5)

   stop_id  stop_id_next                                           geometry
0     1720          1721  LINESTRING (37.40820 55.76412, 37.40814 55.764...
1     1719          1720  LINESTRING (37.41258 55.76455, 37.41245 55.764...
2     1718          1719  LINESTRING (37.41573 55.76232, 37.41563 55.762...
3     1717          1718  LINESTRING (37.42026 55.75881, 37.42048 55.759...
4     1716          1717  LINESTRING (37.41550 55.75585, 37.41554 55.755...

In [6]:
# Выгрузка таблицы stops
query1 = """
select stop_id, site_id from routes.stops_actual """
st = engine.execute(query1).fetchall()
stops = pd.DataFrame(st)
stops.columns = st[0].keys()
stops = stops[['stop_id','site_id']]

In [7]:
# Удаляем строки с пустыми значениями
stops_without_NA = stops.dropna(subset=['stop_id', 'site_id'])
# Преобразуем в целые значения
stops_int=stops_without_NA.astype({"site_id": int, "stop_id": int})

In [8]:
# Объединяем таблицы trip_segments и stops для получения site_id_from
segments_from = trip_segments.merge(stops_int, on = 'stop_id', how = 'inner')
segments_from=segments_from.rename(columns = {"site_id":"site_id_from"})
segments_from.head(3)

,stop_id,stop_id_next,geometry,site_id_from
0,1720,1721,"LINESTRING (37.40820 55.76412, 37.40814 55.764...",5258
1,1720,1709,"LINESTRING (37.40831 55.76413, 37.40828 55.764...",5258
2,1720,1709,"LINESTRING (37.40826 55.76412, 37.40814 55.764...",5258

In [9]:
# Объединяем таблицы segments_from и stops для получения site_id_to
segments_from_to = segments_from.merge(stops_int, left_on = 'stop_id_next', right_on = 'stop_id', how = 'inner')
segments_from_to=segments_from_to.rename(columns = {"site_id":"site_id_to","stop_id_x":"stop_id"})
segments_from_to=segments_from_to.drop(['stop_id_y'], axis = 1)
segments_from_to.head(5)

,stop_id,stop_id_next,geometry,site_id_from,site_id_to
0,1720,1721,"LINESTRING (37.40820 55.76412, 37.40814 55.764...",5258,1578
1,1720,1721,"LINESTRING (37.40824 55.76412, 37.40814 55.764...",5258,1578
2,1720,1721,"LINESTRING (37.40820 55.76412, 37.40814 55.764...",5258,1578
3,1720,1721,"LINESTRING (37.40829 55.76413, 37.40828 55.764...",5258,1578
4,1720,1721,"LINESTRING (37.40820 55.76412, 37.40814 55.764...",5258,1578

In [10]:
segments=segments_from_to.copy()
# Объединяем столбцы в один
segments['site_id_start_end'] = segments["site_id_from"].astype(str) +" "+ segments["site_id_to"].astype(str)
# Удаляем незадействованные столбцы 
segments=segments.drop(columns=['stop_id', 'stop_id_next','site_id_from','site_id_to'])
# Удаляем дубликаты 
segments=segments.drop_duplicates(subset='site_id_start_end')
segments.head(5)

                                              geometry site_id_start_end
0    LINESTRING (37.40820 55.76412, 37.40814 55.764...         5258 1578
25   LINESTRING (37.40760 55.76457, 37.40759 55.764...         1578 1578
45   LINESTRING (37.40791 55.76183, 37.40790 55.761...           29 1578
103  LINESTRING (37.40825 55.76412, 37.40814 55.764...           5258 29
110  LINESTRING (37.40466 55.76524, 37.40468 55.765...           4625 29

In [11]:
# Объединяем столбцы в один для stages_occ1
matrix_current_1['site_id_start_end'] = matrix_current_1["site_id_start"].astype(str) +" "+ matrix_current_1["site_id_end"].astype(str)
# Удаляем дубликаты 
stages_occ1 = pd.DataFrame(matrix_current_1, columns = ['site_id_start_end', 'rel_inside'])
stages_occ1 = stages_occ1.drop_duplicates(subset=['rel_inside', 'site_id_start_end'])
stages_occ1 = stages_occ1.round(decimals = 6)
stages_occ1 = stages_occ1.groupby('site_id_start_end').mean().reset_index()
stages_occ1.head(5)

  site_id_start_end  rel_inside
0               1 2    0.121735
1            1 6074    0.325852
2             10 11    0.138740
3              10 9    0.071803
4         1000 2172    0.187859

In [12]:
# Объединяем столбцы в один для stages_occ2
matrix_current_2['site_id_start_end'] = matrix_current_2["site_id_start"].astype(str) +" "+ matrix_current_2["site_id_end"].astype(str)
# Удаляем дубликаты 
stages_occ2 = pd.DataFrame(matrix_current_2, columns = ['site_id_start_end', 'rel_inside',])
stages_occ2 = stages_occ2.drop_duplicates(subset=['rel_inside', 'site_id_start_end'])
stages_occ2 = stages_occ2.round(decimals = 6)
stages_occ2 = stages_occ2.groupby('site_id_start_end').mean().reset_index()
stages_occ2.head(5)

  site_id_start_end  rel_inside
0               1 2    0.122017
1            1 6074    0.325546
2             10 11    0.139589
3              10 9    0.073159
4         1000 2172    0.187859

In [13]:
# Из базового сценария вычитаем проектный 
stages = stages_occ1.merge(stages_occ2,  on = 'site_id_start_end', how = 'inner')
stages = stages.rename(columns = {"rel_inside_x":"rel_inside_occ1","rel_inside_y":"rel_inside_occ2"})
stages["delta"] = stages["rel_inside_occ1"] - stages["rel_inside_occ2"]
stages_ = pd.DataFrame(stages, columns = ['site_id_start_end', 'delta'])
stages_ = stages_.drop_duplicates(subset=['site_id_start_end', 'delta'])
stages_ = stages_.round(decimals = 6)
stages_ = stages_.groupby('site_id_start_end').mean().reset_index()
stages_.head(5)

  site_id_start_end     delta
0               1 2 -0.000282
1            1 6074  0.000307
2             10 11 -0.000849
3              10 9 -0.001356
4         1000 2172  0.000000

In [15]:
result = segments.merge(stages_, on = 'site_id_start_end', how = 'inner')
%time result.to_file(r'C:\Users\ovnanyan_gm\btb_matrix\notebooks\data\Загрузка перегона\1\delta.shp', encoding='latin1')

Wall time: 2.12 s

In [14]:
result_v1 = segments.merge(stages_occ1, on = 'site_id_start_end', how = 'inner')
%time result_v1.to_file(r'C:\Users\ovnanyan_gm\btb_matrix\notebooks\data\136_137_загрузка_перегонов\Загрузка_перегонов_136.shp', encoding='utf-8')

Wall time: 1.96 s

In [15]:
result_v2 = segments.merge(stages_occ2, on = 'site_id_start_end', how = 'inner')
%time result_v2.to_file(r'C:\Users\ovnanyan_gm\btb_matrix\notebooks\data\136_137_загрузка_перегонов\Загрузка_перегонов_137.shp', encoding='utf-8')

Wall time: 1.8 s