<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Анализ потоков

In [245]:
import pandas as pd
import bokeh
from bokeh.plotting import figure, show, save, output_file
from bokeh.models import ColumnDataSource
from bokeh.io import export_png
from bokeh.models import Legend,LegendItem
import math
from bokeh.models import Label
from tqdm.notebook import tqdm as tqdm
import time

import sys
sys.path.insert(0, '../') 
from btb_matrix.domain import FullBtBways
from btb_matrix.config import engine

In [247]:
_fullbtb = FullBtBways('2022-06-01', 192, start_time = '8:00')

..\data\processed\2022-06-01\0800_0859_scenario_192\costs\oneride_costs.bcolz loaded from cache.

In [248]:
matrix_current = _fullbtb.get_trip_flows()

# Добавляев название о.п.
stops = pd.read_sql('select stop_id, stop_name from routes.stops()', con=engine)
stops = stops.set_index('stop_id')
matrix_current = matrix_current.join(stops, on='stop_id_start')
matrix_current = matrix_current.join(stops, on='stop_id_end', lsuffix='_start', rsuffix='_end')


# Добавляем уровень загрузки
matrix_current['rel_inside'] = matrix_current['cnt_inside'] / matrix_current['capacity']

matrix_current.head(3)

..\data\processed\2022-06-01\0800_0859_scenario_192\flows\trip_flows.bcolz loaded from cache.

,route_id,route_name,variant_id,variant_name,trip_id,mvn,segment_seq,stop_id_start,length,stop_id_end,site_id_start,site_id_end,num_of_trips,capacity,cnt_on,cnt_inside,cnt_off,stop_name_start,stop_name_end,rel_inside
0,103,А_127,204520,127-У1-А,64216,127-У1-А-прямое,1,10318,0.112635,5019,21,21,1.0,110.0,0.000000,0.000000,0.000000,Рублево,Рублево,0.000000
1,103,А_127,204520,127-У1-А,64216,127-У1-А-прямое,2,5019,0.741055,5020,21,22,1.0,110.0,10.639336,10.639336,0.155995,Рублево,Советская ул.,0.096721
2,103,А_127,204520,127-У1-А,64216,127-У1-А-прямое,3,5020,0.607082,8749,22,23,1.0,110.0,7.290140,17.773480,0.155088,Советская ул.,Поворот на Рублево,0.161577

In [249]:
matrix_current['tag'] = matrix_current['route_name'].apply(lambda x: 'КМ' if 'КМ' in x else x)

In [250]:
km = matrix_current[matrix_current['tag'] == 'КМ']
km['cnt_on'].sum()

899.5414644191374

In [252]:
km

,route_id,route_name,variant_id,variant_name,trip_id,mvn,segment_seq,stop_id_start,length,stop_id_end,...,site_id_end,num_of_trips,capacity,cnt_on,cnt_inside,cnt_off,stop_name_start,stop_name_end,rel_inside,tag
40921,141518883,А_КМ,241878,КМ-00-А,3019615,КМ-00-А-прямое,1,5229,2.384,1002179,...,3611,30.0,3300.0,396.585103,396.585103,396.585103,Савёловский вокзал,"Метро ""Петровский парк""",0.120177,КМ
40922,141518883,А_КМ,241878,КМ-00-А,3019616,КМ-00-А-обратное,1,1000786,2.078,5229,...,2364,30.0,3300.0,502.956362,502.956362,502.956362,"Метро ""Петровский парк""",Савёловский вокзал,0.152411,КМ

In [347]:
scenario_1 = 22363
scenario_192 = 23533

In [348]:
round((1-scenario_1/scenario_192)*100, 1)

5.0

In [354]:
7000*0.85

5950.0

In [357]:
428/(5950)

0.0719327731092437

In [356]:
428/8300

0.051566265060240965

In [383]:
from datasets.processed.mosmetro_passflows import get

from datetime import datetime
import sqlalchemy
from sqlalchemy import create_engine

In [384]:
# Ввести логин и пароль от БД UARMS:
print('Вход в БД UARMS')
login = 'G.Ovnanyan'
password = 'W@o5S8FL'
engine = create_engine('postgresql://{login}:{password}@airms.mgtniip.ru:5432/UARMS'.format(
    login = login, password=password))

Вход в БД UARMS

In [385]:
mosmetro_passflows = get(datetime(2022, 5, 22), 'flows')
mosmetro_passflows.head()

,mode_id,timestamp,line,dir,segment_seq,stop_id_start,stop_id_end,cnt_on,cnt_inside,cnt_off,interval
0,4,2022-05-22 05:00:00,Арбатско-Покровская,обратное,1,9000045,9000046,95.219421,95.219421,1.655595,1H
1,4,2022-05-22 05:00:00,Арбатско-Покровская,обратное,2,9000046,9000047,130.209258,223.773084,13.429211,1H
2,4,2022-05-22 05:00:00,Арбатско-Покровская,обратное,3,9000047,9000048,76.044271,286.388144,0.000000,1H
3,4,2022-05-22 05:00:00,Арбатско-Покровская,обратное,4,9000048,9000049,36.027658,282.677235,8.937432,1H
4,4,2022-05-22 05:00:00,Арбатско-Покровская,обратное,5,9000049,9000050,311.002096,537.403281,45.212050,1H

In [386]:
# Добавляем название о.п.
stops0 = pd.read_sql('select stop_id, stop_name from routes.stops()', con=engine)
stops0 = stops0.set_index('stop_id')
mosmetro_passflows = mosmetro_passflows.join(stops0, on='stop_id_start')
mosmetro_passflows = mosmetro_passflows.join(stops0, on='stop_id_end', lsuffix='_start', rsuffix='_end')
del stops0

In [387]:
# mosmetro_passflows['hour'] = mosmetro_passflows['timestamp'].dt.hour
mosmetro_passflows = mosmetro_passflows[mosmetro_passflows['interval'] == '1H']

In [388]:
flows_0 = mosmetro_passflows[(mosmetro_passflows['stop_id_start']==9000729)&(mosmetro_passflows['stop_id_end']==9000718)]

In [389]:
flows_1 = mosmetro_passflows[(mosmetro_passflows['stop_id_start']==9000718)&(mosmetro_passflows['stop_id_end']==9000729)]

In [390]:
flows = pd.concat([flows_0, flows_1], ignore_index=True)
flows

,mode_id,timestamp,line,dir,segment_seq,stop_id_start,stop_id_end,cnt_on,cnt_inside,cnt_off,interval,stop_name_start,stop_name_end
0,4,2022-05-22 05:00:00,Большая кольцевая,прямое,1,9000729,9000718,236.339595,236.339595,34.904906,1H,Савёловская (БКЛ),Петровский парк
1,4,2022-05-22 06:00:00,Большая кольцевая,прямое,1,9000729,9000718,1264.690133,1264.690133,198.720803,1H,Савёловская (БКЛ),Петровский парк
2,4,2022-05-22 07:00:00,Большая кольцевая,прямое,1,9000729,9000718,1714.270619,1714.270619,348.808218,1H,Савёловская (БКЛ),Петровский парк
3,4,2022-05-22 08:00:00,Большая кольцевая,прямое,1,9000729,9000718,2034.054903,2034.054903,454.569116,1H,Савёловская (БКЛ),Петровский парк
4,4,2022-05-22 09:00:00,Большая кольцевая,прямое,1,9000729,9000718,2510.937433,2510.937433,595.148323,1H,Савёловская (БКЛ),Петровский парк
5,4,2022-05-22 10:00:00,Большая кольцевая,прямое,1,9000729,9000718,2205.154830,2205.154830,545.844711,1H,Савёловская (БКЛ),Петровский парк
6,4,2022-05-22 11:00:00,Большая кольцевая,прямое,1,9000729,9000718,2387.478403,2387.478403,533.941838,1H,Савёловская (БКЛ),Петровский парк
7,4,2022-05-22 12:00:00,Большая кольцевая,прямое,1,9000729,9000718,2785.731149,2785.731149,661.723299,1H,Савёловская (БКЛ),Петровский парк
8,4,2022-05-22 13:00:00,Большая кольцевая,прямое,1,9000729,9000718,3185.374089,3185.374089,741.800127,1H,Савёловская (БКЛ),Петровский парк
9,4,2022-05-22 14:00:00,Большая кольцевая,прямое,1,9000729,9000718,2930.517060,2930.517060,724.957346,1H,Савёловская (БКЛ),Петровский парк
10,4,2022-05-22 15:00:00,Большая кольцевая,прямое,1,9000729,9000718,3064.599598,3064.599598,736.708380,1H,Савёловская (БКЛ),Петровский парк
11,4,2022-05-22 16:00:00,Большая кольцевая,прямое,1,9000729,9000718,3070.260437,3070.260437,787.873079,1H,Савёловская (БКЛ),Петровский парк
12,4,2022-05-22 17:00:00,Большая кольцевая,прямое,1,9000729,9000718,3275.411506,3275.411506,781.561533,1H,Савёловская (БКЛ),Петровский парк
13,4,2022-05-22 18:00:00,Большая кольцевая,прямое,1,9000729,9000718,3314.503809,3314.503809,790.006186,1H,Савёловская (БКЛ),Петровский парк
14,4,2022-05-22 19:00:00,Большая кольцевая,прямое,1,9000729,9000718,2951.645344,2951.645344,742.682898,1H,Савёловская (БКЛ),Петровский парк
15,4,2022-05-22 20:00:00,Большая кольцевая,прямое,1,9000729,9000718,2648.649941,2648.649941,625.110781,1H,Савёловская (БКЛ),Петровский парк
16,4,2022-05-22 21:00:00,Большая кольцевая,прямое,1,9000729,9000718,2175.008696,2175.008696,535.482727,1H,Савёловская (БКЛ),Петровский парк
17,4,2022-05-22 22:00:00,Большая кольцевая,прямое,1,9000729,9000718,1694.920953,1694.920953,426.142825,1H,Савёловская (БКЛ),Петровский парк
18,4,2022-05-22 23:00:00,Большая кольцевая,прямое,1,9000729,9000718,915.914237,915.914237,236.848057,1H,Савёловская (БКЛ),Петровский парк
19,4,2022-05-23 00:00:00,Большая кольцевая,прямое,1,9000729,9000718,353.252944,353.252944,98.628668,1H,Савёловская (БКЛ),Петровский парк
20,4,2022-05-23 01:00:00,Большая кольцевая,прямое,1,9000729,9000718,34.397655,34.397655,13.331992,1H,Савёловская (БКЛ),Петровский парк
21,4,2022-05-23 04:00:00,Большая кольцевая,прямое,1,9000729,9000718,0.773200,0.773200,0.421618,1H,Савёловская (БКЛ),Петровский парк
22,4,2022-05-22 05:00:00,Большая кольцевая,обратное,15,9000718,9000729,28.002129,126.098132,126.098132,1H,Петровский парк,Савёловская (БКЛ)
23,4,2022-05-22 06:00:00,Большая кольцевая,обратное,15,9000718,9000729,109.335118,643.232665,643.232665,1H,Петровский парк,Савёловская (БКЛ)
24,4,2022-05-22 07:00:00,Большая кольцевая,обратное,15,9000718,9000729,192.437258,1052.976726,1052.976726,1H,Петровский парк,Савёловская (БКЛ)
25,4,2022-05-22 08:00:00,Большая кольцевая,обратное,15,9000718,9000729,263.652783,1368.828052,1368.828052,1H,Петровский парк,Савёловская (БКЛ)
26,4,2022-05-22 09:00:00,Большая кольцевая,обратное,15,9000718,9000729,350.574808,1658.625746,1658.625746,1H,Петровский парк,Савёловская (БКЛ)
27,4,2022-05-22 10:00:00,Большая кольцевая,обратное,15,9000718,9000729,328.709007,1469.917786,1469.917786,1H,Петровский парк,Савёловская (БКЛ)
28,4,2022-05-22 11:00:00,Большая кольцевая,обратное,15,9000718,9000729,392.793527,1718.942492,1718.942492,1H,Петровский парк,Савёловская (БКЛ)
29,4,2022-05-22 12:00:00,Большая кольцевая,обратное,15,9000718,9000729,456.519147,2088.818834,2088.818834,1H,Петровский парк,Савёловская (БКЛ)
30,4,2022-05-22 13:00:00,Большая кольцевая,обратное,15,9000718,9000729,547.665523,2367.426893,2367.426893,1H,Петровский парк,Савёловская (БКЛ)
31,4,2022-05-22 14:00:00,Большая кольцевая,обратное,15,9000718,9000729,471.517582,2449.846134,2449.846134,1H,Петровский парк,Савёловская (БКЛ)
32,4,2022-05-22 15:00:00,Большая кольцевая,обратное,15,9000718,9000729,539.256261,2773.839785,2773.839785,1H,Петровский парк,Савёловская (БКЛ)
33,4,2022-05-22 16:00:00,Большая кольцевая,обратное,15,9000718,9000729,505.264565,3415.041257,3415.041257,1H,Петровский парк,Савёловская (БКЛ)
34,4,2022-05-22 17:00:00,Большая кольцевая,обратное,15,9000718,9000729,510.053605,3322.992143,3322.992143,1H,Петровский парк,Савёловская (БКЛ)
35,4,2022-05-22 18:00:00,Большая кольцевая,обратное,15,9000718,9000729,521.527256,3221.125145,3221.125145,1H,Петровский парк,Савёловская (БКЛ)
36,4,2022-05-22 19:00:00,Большая кольцевая,обратное,15,9000718,9000729,492.430472,2942.567546,2942.567546,1H,Петровский парк,Савёловская (БКЛ)
37,4,2022-05-22 20:00:00,Большая кольцевая,обратное,15,9000718,9000729,449.893574,2816.293069,2816.293069,1H,Петровский парк,Савёловская (БКЛ)
38,4,2022-05-22 21:00:00,Большая кольцевая,обратное,15,9000718,9000729,389.362353,2512.333440,2512.333440,1H,Петровский парк,Савёловская (БКЛ)
39,4,2022-05-22 22:00:00,Большая кольцевая,обратное,15,9000718,9000729,316.131668,2442.689397,2442.689397,1H,Петровский парк,Савёловская (БКЛ)
40,4,2022-05-22 23:00:00,Большая кольцевая,обратное,15,9000718,9000729,163.834989,1023.862580,1023.862580,1H,Петровский парк,Савёловская (БКЛ)
41,4,2022-05-23 00:00:00,Большая кольцевая,обратное,15,9000718,9000729,67.517007,394.920706,394.920706,1H,Петровский парк,Савёловская (БКЛ)
42,4,2022-05-23 01:00:00,Большая кольцевая,обратное,15,9000718,9000729,5.033236,35.095208,35.095208,1H,Петровский парк,Савёловская (БКЛ)
43,4,2022-05-23 02:00:00,Большая кольцевая,обратное,15,9000718,9000729,1.841391,12.335357,12.335357,1H,Петровский парк,Савёловская (БКЛ)
44,4,2022-05-23 03:00:00,Большая кольцевая,обратное,15,9000718,9000729,0.000000,0.519953,0.519953,1H,Петровский парк,Савёловская (БКЛ)
45,4,2022-05-23 04:00:00,Большая кольцевая,обратное,15,9000718,9000729,1.707865,1.707865,1.707865,1H,Петровский парк,Савёловская (БКЛ)
46,4,2022-05-23 05:00:00,Большая кольцевая,обратное,15,9000718,9000729,0.000000,1.062130,1.062130,1H,Петровский парк,Савёловская (БКЛ)

In [391]:
flows.to_excel(r'C:\Users\ovnanyan_gm\Desktop\Проекты\КМ\КМ\потоки\вскр_2022_05_22.xlsx', index=False)

In [78]:
was = 7193
future = 783

In [79]:
round((was / future * 100))

919

In [77]:
783/7193 * 100

10.88558320589462

In [223]:
from datasets.processed.askp_passflows import get

In [244]:
volume = pd.DataFrame() 
# for month in range(4, 5):
for day in range(1, 2):
    df=volume_by_route.append(get(datetime(2021, 5, day), 'volume_by_route'))
    volume.append(df) 
# volume = pd.DataFrame(volume_by_route, columns=['timestamp','route_id','trip_id','stop_sequence','stop_id',
#                                               'num_of_trips','capacity','cnt_on','cnt_off','cnt_inside'])
volume

Empty DataFrame
Columns: []
Index: []

In [239]:
volume_by_route = get(datetime(2020, 2, 1), 'volume_by_route')
volume_by_route.head()

,timestamp,route_id,trip_id,stop_sequence,stop_id,cnt_on,cnt_off,cnt_inside
0,2020-02-01 03:00:00,240,24305,6,6202,0.0,0.0,0.0
1,2020-02-01 03:00:00,240,24305,7,3577,0.0,0.0,0.0
2,2020-02-01 03:00:00,240,24305,8,1001915,0.0,0.0,0.0
3,2020-02-01 03:00:00,240,24305,9,1001994,0.0,0.0,0.0
4,2020-02-01 03:00:00,240,24305,10,6082,0.0,0.0,0.0

In [198]:
volume_by_route['hour'] = volume_by_route['timestamp'].dt.hour
volume_by_route = volume_by_route[volume_by_route['hour'] == 8]

In [199]:
volume_by_route[(volume_by_route['stop_id'].isin([9000729, 9000718]))&(volume_by_route['route_id']==14250014)]

,timestamp,route_id,trip_id,stop_sequence,stop_id,num_of_trips,capacity,cnt_on,cnt_off,cnt_inside,hour
941822,2021-07-15 08:00:00,14250014,2000027,1,9000729,NaN,NaN,2682.320940,0.000000,2682.320940,8
941823,2021-07-15 08:00:00,14250014,2000027,2,9000718,NaN,NaN,1561.331655,1333.127453,2910.525143,8
941832,2021-07-15 08:00:00,14250014,2000028,5,9000718,NaN,NaN,716.506070,1368.727301,1400.288351,8
941833,2021-07-15 08:00:00,14250014,2000028,6,9000729,NaN,NaN,0.000000,1400.288351,0.000000,8
941834,2021-07-15 08:00:00,14250014,3001816,1,9000729,NaN,NaN,1816.588653,0.000000,1816.588653,8
941835,2021-07-15 08:00:00,14250014,3001816,2,9000718,NaN,NaN,1004.856854,943.151251,1878.294257,8
941844,2021-07-15 08:00:00,14250014,3001817,5,9000718,NaN,NaN,592.856672,866.177072,1321.157653,8
941845,2021-07-15 08:00:00,14250014,3001817,6,9000729,NaN,NaN,0.000000,1321.157653,0.000000,8

In [50]:
1835.096056 + 1956.839435 + 2552.877359 + 2651.922732

8996.735582000001

In [109]:
volume_by_route[(volume_by_route['stop_id_start']==9000729)&(volume_by_route['stop_id_end']==9000718)]

KeyError: 'stop_id_start'